<p>
  users-list works!
</p>
<input type="text" [(ngModel)] = "searchUser" (keyup)="SearchUser()" />
<button (click) = "SearchUser()">Search</button>
<ul>
  <!--<option *ngFor="let user of users">{{user.login}}</option>
   <button *ngFor="let user of users" [routerLink]="['user', user.id]">{{user.login}}</button> --> 
</ul>
<div><button (click)="goBack()">Go Back</button></div>
<button type="button"
        class="btn btn-success"
        (click)="addUser()">Add User
</button>
<button type="button"
        class="btn btn-danger"
        (click)="deleteUsers()">Clear Users
</button>
<div *ngFor="let user of users" >
   <button [routerLink]="['/user', user.id]">{{user.login}}</button>
</div>
<app-user></app-user>


