<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to {{title}}!!
  </h1>
  <button (click)= "sendEvent()">{{value}}</button>
  <router-outlet></router-outlet>
  <!-- <h2>Users</h2>
  <ul>
  <li *ngFor="let user of users">
    Name : {{user.login}}
  </li>
  </ul>

  <h2>Foods</h2>
  <ul>
  <li *ngFor="let food of foods">
    Name : {{food.name}}
  </li>
  </ul>  -->
 <br/> 
  <a routerLink="/parent">Parent</a>
<br/>
<a routerLink="/bs">BehaviorSubject</a>
<br/>
<a routerLink="/indexdb">IndexDBStorage</a>
<br/>
<a routerLink="/stylecss">StyleCSS</a>
<br/>
<a routerLink="/jsconcepts">JS Concepts</a>
<br/>
<!-- <a routerLink="/stylecss">StyleCSS</a>
<br/> -->

<a routerLink="/viewchildparent">viewchildparent</a>
<app-googlemap></app-googlemap>


    

